<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration search:require="azure">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="sxacontent" type="Sitecore.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.XA.Foundation.Search">
                <patch:attribute name="type">Sitecore.Support.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.Support.288824.295374</patch:attribute>
              </field>
            </fields>
          </documentOptions>
        </defaultCloudIndexConfiguration>
        <defaultSolrIndexConfiguration search:require="solr">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="sxacontent" type="Sitecore.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.XA.Foundation.Search">
                <patch:attribute name="type">Sitecore.Support.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.Support.288824.295374</patch:attribute>
              </field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>